<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CSCY</title>
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/about.css">
    <link rel="SHORTCUT ICON" href="https://cdn.glitch.com/f4dd0a05-3ce2-4dba-b39f-ecc6c7b8ba7f%2F37683EE5-315E-48A5-BE6B-92DA21C21AD8.png?v=1594190990242">
   <link href="https://fonts.googleapis.com/css2?family=Roboto&family=Courier+Prime:wght@400;700&family=Shrikhand&display=swap" rel="stylesheet">
    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
    
  </head> 
  <style>
.item1 { grid-area: header; }
.item3 { grid-area: main; }
.item4 { grid-area: hi; }


.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main main main main'
    'hi hi hi hi hi hi';
  grid-gap: 0px;
 
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 0px 0;
  font-size: 30px;
}
</style>

  <body>
   
<div class="grid-container">
  <div class="item1" >
  <div class = "top">
    <img src="https://cdn.glitch.com/f4dd0a05-3ce2-4dba-b39f-ecc6c7b8ba7f%2F37683EE5-315E-48A5-BE6B-92DA21C21AD8.png?v=1594190990242" alt="CSCY logo">
   <center><h1>. Climate Science Communication for Youth .</h1></center>
    </div>
    <br>
  <!-- Top navigation -->
  <div class="topnav" id="nav" >

  <!-- Centered link -->
 

  <!-- Left-aligned links (default) -->
  
  <a href="home.html" class="class1">Home</a>
  <a href="about.html" class="class1">About</a>
  <a href="members.html" class="class1">Our Team</a>


</div>
  
  
  
  </div>
  <div class="item3">
    
  <h2>
    Our Goal
  </h2>
    <p>
    
  Creating an inclusive outlet for young people to engage in science communication revolving around the climate crisis. We will train and teach youth climate activists the rhetorical tools to engage and understand science policy conversation. With this platform, we will create space for underrepresented groups in STEM and the climate movement to have active engagement. Our goal is to implement and advocate for science policy in our society while establishing regulation that protects marginalized communities. 
     <ul>
     <br>
    <li>Advocate for social and climate justice </li>
    <br>
    <li>Promote Black, Indigenous, and Person of Color solidarity </li>
    <br>
    <li>Encourage more women, especially women of color, to have a lifelong interest in STEM</li>
    <br>
    <li>Show solidarity to other organizations and coalitions that advocate for social justice</li>
    <br>
    <li>Combat pluralistic ignorance about climate change in conversations</li>
    <br>
    <li>Provide a support group for members </li>
  </ul>
     </p>
  </div>
    
  <br>
   <div class="item4">
    <p>
      <!-- Spotify-->
  <a href="https://open.spotify.com/show/2yeJhVZOh0zshQuRqBBuU7?si=dH1jHO0CS_ybaX7WiVaYgA"><img src="https://cdn.glitch.com/f4dd0a05-3ce2-4dba-b39f-ecc6c7b8ba7f%2Funnamed.jpg?v=1594643020888" style="width:60px; height:60px; margin:5px" alt="Spotify"></a>
  
   <!-- Instagram-->
    <a href="https://www.instagram.com/climatescyouth/"><img src="https://cdn.glitch.com/f4dd0a05-3ce2-4dba-b39f-ecc6c7b8ba7f%2Funnamed-2.jpg?v=1594643039645" style="width:60px; height:60px; margin:5px" alt="Instagram"></a>
    
  <!-- LinkedIn -->
    <a href="https://www.linkedin.com/company/66296352/admin/"><img src="https://cdn.glitch.com/f4dd0a05-3ce2-4dba-b39f-ecc6c7b8ba7f%2Funnamed-1.jpg?v=1594643036477" style="width:60px; height:60px; margin:5px" alt="LinkedIn"></a>
    
      <!-- Twitter -->
       <a href="https://twitter.com/climatescyouth?s=21"><img src="https://cdn.glitch.com/f4dd0a05-3ce2-4dba-b39f-ecc6c7b8ba7f%2Funnamed-3.jpg?v=1594690449338" style="width:60px; height:60px; margin:5px" alt="Twitter"></a>
      
    </p>
  </div>
  </div>
  <br>
    <li>climatescyouth@gmail.com </li>
 
    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    
  </body>
</html>


