\<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CSCY</title>
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="static/style.css">
    <link rel="SHORTCUT ICON" href="https://cdn.glitch.com/f4dd0a05-3ce2-4dba-b39f-ecc6c7b8ba7f%2F37683EE5-315E-48A5-BE6B-92DA21C21AD8.png?v=1594190990242">
    <link href="https://fonts.googleapis.com/css2?family=Shrikhand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <!-- import the webpage's javascript file -->
    <script src="/script.js" defer></script>
    
  </head> 
  <style>
.item1 { grid-area: header; }
.item3 { grid-area: main; }


.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main main main main'
  grid-gap: 10px;
 
}

/* ---------------where the white background is coming from-----------------*/
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.3);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  border-radius: 30px;
}
   
</style>
  

  <body>
    <div class="grid-container">

    <div class="item3">
   <center><h1>. Climate Science Communication for Youth .</h1></center>
     
  <br>
  <h2>We can't wait to work with you!</h2>
  <h3>Press the icon to enter the site</h3>
    <a href="templates/home.html"><img src="https://cdn.glitch.com/f4dd0a05-3ce2-4dba-b39f-ecc6c7b8ba7f%2F37683EE5-315E-48A5-BE6B-92DA21C21AD8.png?v=1594190990242" style="width:300px; height:300px; margin:5px" alt="Spotify"></a>
    </div>
    </div>
  <!-- Top navigation -->


  <!-- Centered link -->
 

  <!-- Left-aligned links (default) -->
  
  
  
  
  

 
    <!-- include the Glitch button to show what the webpage is about and
          to make it easier for folks to view source and remix -->
    
  </body>
</html>

