/* CSS files add styling rules to your content */

html{
  background-color: #fffff;
    
}

body {
  font-family: 'Courier Prime', monospace;
  margin: 2em;
}

h1 {
  color: white;
  font-size: 350%;
  margin: 0em;
  text-align: center;
  font-family: 'Shrikhand', cursive;
}


h2 {
  color: #250081;
  font-size: 200%;
  margin: 0em;
  font-family: 'Shrikhand', cursive;
  

}

img {
  width: 800px;

}
p{
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
.top{
    background-color:none;
   background-image: url('https://cdn.glitch.com/cfc3ac91-f89d-4c4d-85da-d25a64149f51%2Ftumblr_pamwlxGg7e1qhrm3lo1_540.gif?v=1595016836991');
  border-radius: 30px;
  text-color: #fffff;

}

/* Add a black background color to the top navigation */
.topnav {
  position: relative;
  overflow: hidden;
  /*background-color: #2c949c;*/
  background-color: #ddd0fe;
  border-radius: 30px;
  text-color: #2c949c;
   
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 150%;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #250081;
  color: white;
}

/* Centered section inside the top navigation */
.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
#nav {
display:table; /* centers modern browsers */
margin:0 auto; /* centers modern browsers */
text-align:center; /* centers IE6/7 */

}

#nav ul {
list-style:none;
display:inline-block; /* IE6/7 haslayout trip-switch */
}

#nav ul {
display:inline; /* IE6/7 haslayout trip-switch, and IE6/7 only need ul to be display inline, yet does no harm to others */
}

#nav li {
display:inline;
}

#nav a {
float:left;
text-decoration:none; 
padding:0 30px; /* variable width */
}


/* Responsiv

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
a {
    text-decoration: none;
}


.card {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  font-family: 'Shrikhand';
}

.title {
  color: black;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}


A.class1 {color: #250081}
A.class1:link  {text-decoration: none; color: #250081}
A.class1:visited {text-decoration: none; color: #250081}
A.class1:hover {text-decoration: none; color: black}
A.class1:active {text-decoration: none; color: #250081}


A.class2 {color:blue;}
A.class2:link {text-decoration: none; color: #2c949c;}
A.class2:visited {text-decoration: none; color: #2c949c;}
A.class2:hover {text-decoration: underline; color: #2c949c;}
A.class2:active {text-decoration: none; color: #2c949c;}

/* 
button:hover, a:hover {
  opacity: 0.7;
} 
*/