<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap" rel="stylesheet">
        <title>Kayley</title>
        <style>
        
            body {
            font-family: helvetica, arial, sans-serif;
            margin: 2em;
            background-color: {{background}};
            }
            
            h1 {
            font-style: italic;
            color: #000000;
            }
      
            h2 {
                font-size: 2000%;
                font-family: 'Merriweather', serif;
            }
        </style>
    </head>
    <body>
	<center>
            <h1>Kayley's Rainbow</h1>
            <h2>{{name}}</h2>
        <center>
    </body>
</html> 
