<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="static/style.css">
</head>
<body>
    <body style="background-color:powderblue;">  
  
       
        <h1>Daniel</h1>
        <p>My name is Daniel and one of my favriote meals is enchiladas</p>
        
        <div ee="food">
          <img src="https://cdn.glitch.com/c1f3da5f-09ff-4a7d-8390-3a15075efb64%2FEnchiladas-Verdes-5.jpg?v=1608392333214" alt="enchiladas" style="width:600px;300px;">
        </div>
        
        <div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>
        <script src="https://button.glitch.me/button.js" defer></script>
</html> 