<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="static/kayley.css">
    <title>Kayley</title>
    <style>
      
        body {
          font-family: helvetica, arial, sans-serif;
          margin: 2em;
          background-color: #B57EDC;
        }
        
        h1 {
          font-style: italic;
          color: #000000;
        }
            </style>
</head>
<body>
    <h1>Kayley Chery</h1>
    <p>Welcome to Kayley's page, Kayley's favorite food is pizza and one day hopes to have pizza in Italy</p>
    <img src="https://wswd-wordpress-production.s3.amazonaws.com/content/uploads/2019/03/25143135/Fumo-Pizza-Bar-Pasta-NYC-FB-1000x630.jpg">
    <h2>hi</h2>
</body>
</html> 