<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="static/style.css">
    <style>
      
        body {
          font-family: helvetica, arial, sans-serif;
          margin: 2em;
          background-color: #0000cc;
        }
        
        h1 {
          font-style: italic;
          color: #ffffff;
        }
            </style>
</head>
<body>
    <h1>Shariana's favorite fruit</h1>
    
    <div id = "fruit">
      <img src="https://cdn.glitch.com/c1f3da5f-09ff-4a7d-8390-3a15075efb64%2Fdragon%20fruit.jpg?v=1608392063298" alt="Dragon fruit" style="width:400px;height:300px;">
    </div>
    
    <p>
     Hi, Im shariana and i like dragon fruit, just becasue if you eat it in a huge amount. It can put you to sleep and i need sleep.
    </p>

</body>
</html> 